
APP_PORT=
LOG_LEVELS=verbose

JWT_SECRET=your-jwt-secret
JWT_ACCESS_TOKEN_EXPIRY=86400
JWT_REFRESH_TOKEN_EXPIRY=604800

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/documentmgt_db?schema=public"

MINIO_SERVER=localhost
MINIO_PORT=9000
MINIO_SSL=false
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=1234567890
MINIO_BUCKET=document-management